@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-crimson: "Crimson Text", serif;
  --color-teal-400: #2dd4bf;
}

:root {
  --primary-color: #0d9488;
  /* Teal-600 */
  --bg-color: #fafafa;
  /* Neutral-50 */
  --text-color: #171717;
  /* Neutral-900 */
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dark {
  --primary-color: #2dd4bf;
  /* Teal-400 */
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#education iframe {
  border: none !important;
  background: transparent !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  width: fit-content;
}